name: Run UI Automation Tests

on:
  push:
    branches: [ main ]  # Runs when you push to main branch
  pull_request:
    branches: [ main ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Selenium Tests
        run: |
          pytest --html=reports/report.html --self-contained-html -v

      - name: Upload HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: reports/report.html
          